<div class="px-4 py-8">
    {% paginate collection.products section.settings.number_of_products_per_page %}
    <h1 class="text-3xl text-cenet">{{ collection.title }}</h1>
    <div class="max-w-6xl mx-auto">
        <div class="grid grid-col-1 md:grid-cols-3 gap-4">
            {% for product in collection.products %}
                {% render "product-card", product_product:product %}
            {% else %}
            <p>There are no products inside of this collection</p>
            {% endfor %}

        </div>
    </div>
    {% render 'pagination', pagination:paginate%}
    {% endpaginate %}

</div>


{%  schema  %}  
    {
        "name": "Template Collection",
        "settings": [
            {
                "type": "number",
                "id": "number_of_products_per_page",
                "default":6,
                "label": "Number of products per page"

            }
        ]
    }
{% endschema %} 




{% comment %} {% paginate collection.products by 2 %}
<h1>{{ collection.title }}</h1>
{% for product in collection.products %}
<div>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    {{ product.price | money }}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
    <a href="{{ product.url | within: collection }}">
        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
</div>
{% else %}
<p>no matches</p>
{% endfor %}
{% if paginate.pages > 1 %}
{{ paginate | default_pagination }}
{% endif %}
{% endpaginate %} {% endcomment %}


{% comment %} {% paginate collection.products by 2 %}
<h1>{{ collection.title }}</h1>
{% for product in collection.products %}
<div>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    {{ product.price | money }}
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
    <a href="{{ product.url | within: collection }}">
        <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
</div>
{% else %}
<p>no matches</p>
{% endfor %}
{% if paginate.pages > 1 %}{{ paginate | default_pagination }}{% endif %}
{% endpaginate %}

{% endcomment %}