{% if cart.item_count > 0 %}
<div class="p-4">
  <div class="max-w-6xl flex flex-col my-10 mx-auto">
    <div class="flex items-end justify-between my-5">
      <h1 class="text-3xl">Your cart</h1>
      <a href="{{ routes.all_products_collection_url }}"
        class="text-blue-600 hover:text-blue-800 font-medium underline">continue shopping</a>
    </div>
  </div>
  <div class="max-w-6xl flex flex-col my-10 mx-auto">
    <form action="{{ routes.cart_url }}" method="POST" novalidate>
      <table class="table-auto divide-y divide-gray-200 my-4 w-fu">
        <thead>
          <th colspan="2">Prod</th>
          <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Product</th>
          <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Quantity</th>
          <th class="px-6 py-3 text-left text-sm font-medium text-gray-500">Total price</th>
        </thead>
        <tbody>
          {% for item in cart.items %}
          <tr class="table-row">
            <td class="py-4 px-2 flex flex-col justify-content">
              <a href="{{ item.url }}">
                {% if item.image %}
                <img src="{{ item.image | image_url : " small" }}" alt="{{ item.title | escape }}"
                  class="w-20 h-20 object-cover border" width="200px" , height="200px">
                {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'w-20 h-20 object-cover border' }}
                {% endif %}
              </a>
            </td>

            <td class="py-4 px-2 flex flex-col justify-content">
              <a href="{{ item.url }}">{{ item.title | truncatewords: 5 }}</a>
              <span class="text-sm text-gray-500 my-1">{{ item.variant.title }}</span>
              <a href="{{ routes.cart_change_url }}?line={{ forloop.index}} &quantity=0"
                class="text-sm font-medium text-red-500 my-1"></a>
            </td>
            <td>{{ item.price | money }}</td>
            <td class="py-4 px-2">
              <input type="number" class="w-20 border p-2" name="updates[]" id="updates_{{ forloop.index }}"
                value="{{ item.quantity }}" min="1">
            </td>
            <td class="py-4 px-2">
              {% if item.original_line_price != item.line_price %}
              {{ item.original_line_price | money -}}
              {%- endif %}
              {{ item.line_price | money }}
              {% for discount in item.discounts %}
              {{ discount.title -}}
              {%- endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="flex flex-col md:flex-row items-cneter justify-between">
        <div class="w-full my-4">
          <div class="flex flex-col items-start">
            <label for="cart_notes" class="my-1">Cart notes</label>
            <textarea name="note" id="" class="w-full md:max-w-lg resize-none border h-20"></textarea>
          </div>
        </div>
        <div class="w-full my--4 md:w-80">
          {% for block in section.blocks %}
          {% case block.type %}
          {% when 'subtotal' %}
          <h3 class="text-x1">Subtotal : {{ cart['total_pr-full']['my-4ice'] | money }}</h3>
          {% when 'update_button' %}
          <div class="my-2"><button type="submit" class="w-full p-3 border-gray-600 text-gray-600 font-mediumm hover:bg-gray-600 hover:text-white"   name="update"> Update  </button>
          </div>
          {% when 'checkout_button' %}
              <div class="my-2">
            <button type="submit" class="w-full p-3 border-gray-600 text-gray-600 font-mediumm hover:bg-gray-600 hover:text-white"  name="checkout">Checkout</button>
              </div>
          {% else %}
          {% endcase %}
          {% endfor %}
        </div>
      </div>
    </form>
  </div>
</div>
{% else %}
<div class="max-w-6xl h-60 my-4 mx-auto flex items-center justify-center">
  <div class="text-center">
    <h1 class="text-3xl my-4">Your cart is empty</h1>
    <div class="my-4 py-4">
      <a href="{{ routes.all_products_collection_url}}"
        class="border border-gray-600 text-white bg-gray-600 px-8 py-3">Continue shopping</a>
    </div>
  </div>
</div>
{% endif %}

{% schema %}
{
"name": "Template Cart",
"blocks": [
{
"type": "subtotal",
"name": "Subtotal",
"limit": 1
},
{
"type": "update_button",
"name": "Update button",
"limit": 1
},
{
"type": "checkout_button",
"name": "Checkout button",
"limit": 1
}
]
}
{% endschema %}
{% comment %}
<h1>cart</h1>
<form action="/cart" method="post" novalidate>
  <table>
    <thead>
      <th colspan="2">Prod</th>
      <th>Price</th>
      <th>Qty</th>
      <th>total</th>
    </thead>
    <tbody>
      {% for item in cart.items %}
      <tr>
        <td>
          <a href="{{ item.url | within: collections.all }}">
            <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
          </a>
        </td>
        <td>
          <a href="{{ item.url }}">{{ item.product.title }}</a>
          {{ item.variant.title }}
          <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
        </td>
        <td>{{ item.price | money }}</td>
        <td>
          <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
        </td>
        <td>
          {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
          {{ item.line_price | money }}
          {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    <p>sub total : {{ cart.total_price | money }}</p>
    <button type="submit" name="update">Update</button>
    <button type="submit" name="checkout">Checkout</button>
  </div>
</form>
{% else %}
<h2>cart</h2>
Cart is empty
{% endif %}
{% endcomment %}